/* MAIN */
main{
    max-width: 1440px;
    height: calc(100vh - 62px);
    position: relative;
    display: flex;
    box-sizing: border-box;
}

/* BACKGROUND IMAGE */
main>img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    filter: brightness(0.9);
}


/* BLOG / QUESTION SECTION */
.blog-section{
    border-radius: 10px;
    height: calc(100% - 20px);
    width: calc(70% - 10px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px;
}

/* Blog Posts Area */
.blog-post-container{
    overflow-y: auto;
}

/* Profile */
.blog-post-container .profile{
    border-bottom: 2px solid var(--dark-blur-background-color);
    padding: 0 0 4px 4px;
}

/* Profile Picture */
.blog-post-container img{
    width: 34px;
    border-radius: 50%;
}

/* Blog Post */
.post-container{
    margin: 10px;
    padding: 10px;
    font-size: 1rem;
    position: relative;
    background: var(--dark-blur-background-color);
    backdrop-filter: blur(100px);
    border-radius: 10px;
    border: 2px solid var(--dark-blur-background-color);
}

/* Question */
.question{
    border-bottom: 2px solid var(--dark-blur-background-color);
    padding: 4px 0;
    margin: 4px 0;
}

.question :where(h3, p, .buttons){
    margin-bottom: 4px;
}

/* User's Comments */
.write-comment{
    justify-content: space-evenly;
}

.write-comment input{
    padding: 4px;
    width: 85%;
    font-size: 0.8rem;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
    outline: 0;
    background: transparent;
}

.write-comment button{
    padding: 4px 10px;
    font-size: 0.8rem;
    cursor: pointer;
    background: var(--dark-blur-background-color);
    outline: 0;
    border: 0;
    border-radius: 6px;
    transition: 0.2s ease-out;
}

.write-comment .comment-button{
    background: transparent;
    border: 0;
}

.write-comment button:hover{
    transform: scale(1.1);
    color:white;
}

.write-comment button:hover:last-child{
    background: var(--primary-color);
}

/* Comment Section */
.comment-section{
    border: 2px solid var(--dark-blur-background-color);
    border-radius: 10px;
    height: fit-content;
    overflow: hidden;
    margin-top: 4px;
    transform: translateY(0);
}

/* The Comments */
.comment {
    margin: 4px;
    padding: 4px;
    font-size: 0.88rem;
    border-bottom: 2px solid var(--dark-blur-background-color);
    justify-content: flex-start;
    align-items: flex-start;
}

.comment:last-child{
    border-bottom: 0;
}

/* Question Posting Area */
.post-question {
    padding: 10px;
    border-top: 2px solid var(--dark-blur-background-color);
}

.post-question-form div{
    position: relative;
}

.post-question-form :where(input, textarea){
    border: 0;
    border-bottom: 2px solid var(--dark-blur-background-color);
    width: 100%;
    background: transparent;
    outline: 0;
    padding: 12px 4px;
    font-size: 1rem;
}

.post-question-form label{
    position: absolute;
    display: block;
    top: 0;
    left: 4px;
    font-size: 0.9rem;
    transition: 0.2s ease-out;
    font-weight: bold;
    cursor: text;
}

.post-question-form :where(input, textarea)::placeholder{
    color: transparent;
}

.post-question-form :where(input, textarea):placeholder-shown ~ label{
    top: 12px;
    font-size: 1rem;
}

/* MAIN CHAT SECTION */
.chat-section {
    margin: 10px;
    width: calc(30% - 10px);
    flex-direction: column-reverse;
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    background: var(--dark-blur-background-color);
    backdrop-filter: blur(100px);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.chat {
    height: calc(100% - 75px);
    margin: 10px;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    scroll-snap-type: y mandatory;
}

/* width */
.chat::-webkit-scrollbar {
    width: 8px;
}

/* Track */
.chat::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
.chat::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
.chat::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.user-input {
    width: calc(100% - 20px);
    margin: 10px;
    border: 1px solid grey;
    border-radius: 32px;
    padding: 2px 6px 2px 12px;
    background: transparent;
}

.user-input input {
    width: 100%;
    font-size: 14px;
    background: transparent;
    margin-right: 10px;
    border: 0;
    outline: 0;
    color: #fff;
}

.user-input input::placeholder {
    color: #fff;
    opacity: 0.75;
}

.user-input button {
    border: 0;
    height: 32px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: transparent;
    cursor: pointer;
}


.material-symbols-outlined {
    color: white;
    font-variation-settings:
        'FILL' 0,
        'wght' 1000,
        'GRAD' 0,
        'opsz' 48
}



.message {
    max-width: 70%;
    cursor: default;
    scroll-snap-align: end;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
}

.message img{
    width: 30px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
}

.user {
    align-self: flex-end;
}

.user p {
    background: var(--user-chat-blur-background-color);
}

.other {
    align-self: flex-start;
}

.other p {
    background: var(--other-chat-blur-background-color);
}

.user ,
.other {
    margin-bottom: 3px;
}

.text {
    text-align: left;
    color: #fff;
    border-radius: 20px;
    font-size: 14px;
    padding: 6px 12px;
    margin: 1px 0;
}