/* FIRST SECTION BACKGROUND IMAGE */
.background-image{
    position: absolute;
    top: 0;
    aspect-ratio: 19 / 9;
    width: 100%;
    max-width: 1440px;
    z-index: -1;
}
.background-image img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(0.8);
}

/* LANDING SECTION */
.intro {
    width: 100%;
    aspect-ratio: 19 / 9;
    color: white;
    /* background: url('/images/home.jpg') no-repeat; */
    /* background-position: center; */
    /* background-size: cover; */
    display: grid;
    place-items: center;
}

.intro-text {
    width: max-content;
}

h1 {
    font-size: 6rem;
    filter: drop-shadow(4px 4px 10px black);
}

.intro-text p {
    margin: 6vh 0;
    font-size: 1.5rem;
}


/* A little introduction in the class called about-section */
.about-section {
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.about-section article{
    padding: 50px 120px;
}

.about-section .left{
    width: 60%;
    aspect-ratio: 16 / 9;
    color: var(--primary-color);
}

.about-section .right{
    background-color: rgb(172, 168, 252);
    color: white;
    width: 40%;
    aspect-ratio: 16 / 9;
}




/* Services */

.card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 10px;
}

.card {
    position: relative;
    /* border: 2px solid black; */
    margin: 4px;
    width: 280px;
    border-radius: 10px;
    aspect-ratio: 10 / 11;
    transition: 0.1s ease-out;
    overflow: hidden;
    background: var(--background-blue);
    z-index: 0;
}

.card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    object-fit: cover;
    object-position: center;
    z-index: -1;
    transform: scale(1.1);
    transition: 0.4s ease-out;
}

.card:hover img {
    transform: scale(1.2);
}

.card:hover .card-text {
    transform: translateY(0);
}

.card-text {
    position: absolute;
    bottom: 0;
    padding: 4px;
    background: var(--transparent-black-background-color);
    color: #fff;
    transform: translateY(100%);
    transition: 0.4s ease-out;
    font-size: 1.2rem;
}

.card-hidden {
    display: none;
}




/* Contact */
.contact {
    width: max-content;
    height: max-content;
    margin: 20px auto;
    border: 2px solid var(--primary-color);
    transform: scale(0.9);
}

.contact-content {
    max-width: 1440px;
    position: relative;
    width: 70vw;
    aspect-ratio: 16 / 9;
}

.contact-content img {
    width: 50%;
    aspect-ratio: 8 / 9;
    object-fit: cover;
    object-position: right;
}

.contact-form {
    overflow: auto;
    width: 50%;
    padding: 4px 20px;
    background: #fff;
}

.contact-form h2{
    color: var(--primary-color);
    font-size: 3rem;
    margin: 10px 0;
}

.contact-form :where(input, textarea) {
    width: 100%;
    outline: 0;
    padding: 4px 6px;
    font-size: 1.2rem;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
}

.contact-form div {
    position: relative;
    padding: 6px 2px;
    margin: 4px;
}

.contact-form :where(input, textarea)::placeholder {
    color: transparent;
}

.contact-form div label {
    position: absolute;
    width: max-content;
    display: block;
    top: 0;
    font-size: 1rem;
    cursor: text;
    transition: all 0.2s ease-out;
    color: var(--primary-color);
    font-weight: bolder;
}

.contact-form div :where(input, textarea):placeholder-shown~label {
    font-size: 1.2rem;
    top: 16px;
}

.buttons input {
    color: white;
    border: 0;
    outline: 1px solid #000;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 4px 10px;
    cursor: pointer;
}

input[type='submit'] {
    background: var(--success-green);
}

input[type='reset'] {
    background: var(--failure-red);
}