main{
    display: grid;
    place-items: center;
    width: 100%;
    aspect-ratio: 19 / 7;
}

h1{
    color: var(--primary-color);
    font-size: 2rem;
    margin: 10px 0;
}

.login,
.signup{
    margin: 10px;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    width: 440px;
}

.login{
    width: 350px;
}


input {
    width: 100%;
    outline: 0;
    font-size: 1.2rem;
    padding: 10px 0;
    border: 0;
    border-bottom: 2px solid var(--primary-color);
}

input::placeholder{
    color: transparent;
}

:is(.login, .signup) div {
    position: relative;
    padding: 6px 2px;
    margin: 4px;
}

label {
    position: absolute;
    width: max-content;
    display: block;
    top: 0;
    font-size: 1rem;
    font-weight: bolder;
    cursor: text;
    color: var(--primary-color);
    transition: all 0.2s ease-out;
}

input:placeholder-shown~label {
    font-size: 1.2rem;
    top: 15px;
}

.loginButtons button {
    width: 100%;
    padding: 8px;
    margin: 4px 0;
    border-radius: 100px;
    background: #fff;
    border: 1px solid var(--primary-color);
    cursor: pointer;
    transition: 0.4s ease-out;
    font-size: 1rem;
    font-weight: bolder;
}

.loginButtons button:hover {
    transform: scale(1.05);
    background: var(--primary-color);
    color: white;
}

.loginButtons button img{
    width: 20px;
    aspect-ratio: 1 / 1;
    margin-right: 10px;
}

.buttons input {
    color: var(--primary-color);
    outline: 0;
    border-radius: 4px;
    padding: 4px 10px;
    margin: 4px 10px;
    cursor: pointer;
    transition: 0.2s ease-out;
}

input[type='submit']:hover {
    color: white;
    background: var(--success-green);
}

input[type='reset']:hover {
    color: white;
    background: var(--failure-red);
}