@media screen and (max-width: 1123px){
    .hamburger {
        display: block;
    }

    .header .navbar,
    .header .searchbar{
        display: none;
    }

    .about-section article{
        padding: 50px;
    }

    /* .dropdown-menu{display: flex;} */
}

@media screen and (max-width: 1080px){
    .contact-content{
        width: 90vw;
        aspect-ratio: 16 / 10;
    }
    .contact-content img {
        width: 50%;
        aspect-ratio: 8 / 10;
    }
    
    .contact-form{
        width: 50%;
    }
}

@media screen and (max-width: 780px){
    .intro-text h1{
        font-size: 4rem;
    }

    .intro-text p{
        font-size: 1rem;
        margin: 4vh 0;
    }

    .intro-text{
        width: fit-content;
    }

    .main h1{
        margin: 8px;
        font-size: 2rem;
    }

    .about-section,
    .main article p {
        padding: 10px;
        font-size: 0.8rem;
    }

    :is(.about-section, .main article) :is(.left, .right){
        width: 100%;
    }


    .contact-form{
        width: 100%;
    }

    .contact-content img{
        display: none;
    }

    .contact-content{
        aspect-ratio: 9 / 16;
    }

}

@media screen and (max-width: 600px){
    .intro-text h1 {
            font-size: 2rem;
        }
    
        .intro-text p {
            font-size: 0.5rem;
            margin: 2vh 0;
        }
}